<div class="modal-body">
    <!-- <span ng-repeat="item in cart">
        <span ng-bind="item|json"></span>
        <br/>
    </span> -->
    <br/>
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Keranjang</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <th ng-repeat="field in cartFields" class="text-center">
                <span ng-bind="field.header"></span>
            </th>
            <th class="text-center">Pilihan</th>
        </tr>
        <tr ng-repeat="item in cart | orderBy:sort.field">
            <td ng-repeat="field in cartFields" class="text-center">
                <span ng-bind="item.{{field.name}}"></span>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" ng-click="deleteCartItem(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-default btn-sm" ng-if="module=='katalogBarang'" ng-click="$dismiss('createPermintaanBarang')">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Buat SPP</span>
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-if="module=='permintaanBarang'" ng-click="$dismiss('createPesananBarang')">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Buat SP</span>
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-if="module=='waste'" ng-click="$dismiss('createPenjualanWaste')">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Buat Penjualan Waste</span>
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="clearCart()">
        <span class="glyphicon glyphicon-trash"></span>
        <span>&nbsp;Kosongkan</span>
    </button>
</div>