<div class="modal-body">
    <button class="btn btn-default btn-xs pull-right" type="button" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Keranjang</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <th ng-repeat="field in fields" class="text-center">
                <span ng-bind="field.header"></span>
            </th>
            <th class="text-center">Pilihan</th>
        </tr>
        <tr ng-repeat="item in cart | orderBy:sort.field">
            <td ng-repeat="field in fields" class="text-center">
                <span ng-bind="item.{{field.name}}"></span>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" ng-click="deleteCartItem(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-default btn-sm" ng-click="createPermintaanBarang()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Buat SPP</span>
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="clearCart()">
        <span class="glyphicon glyphicon-trash"></span>
        <span>&nbsp;Kosongkan</span>
    </button>
</div>