<div class="form-inline">
    <!-- <span ng-repeat="item in items">
        <span ng-bind="item|json"></span>
        <br/>
        <br/>
    </span>
    <br/> -->
    <span ng-show="!!items.length" class="input-group input-group-sm">
        <select class="form-control" ng-model="page.items" ng-init="page.items=10" ng-change="page.current=1">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </span>
    <button type="button" class="btn btn-default btn-sm" ng-if="access.create" ng-click="openCreate()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>&nbsp;Buat</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="query()">
        <span class="glyphicon glyphicon-refresh"></span>
        <span>&nbsp;Update Data</span>
    </button>
    <span class="pull-right">
        <span ng-show="!!items.length">
            <span class="input-group input-group-sm">
                <span class="input-group-addon" ng-show="!search.$">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <span class="input-group-addon" ng-show="!!search.$" ng-click="search.$=''">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
                <input type="text" class="form-control" ng-model="search.$" />
            </span>
        </span>
    </span>
</div>
<br/>
<h5 ng-show="!items.length">Data Kosong</h5>
<div ng-show="!!items.length">
    <h5 ng-show="!filtered.length">Data yang Anda Cari Tidak Ditemukan</h5>
    <h5 ng-show="currentPageForm.$invalid && !!filtered.length">Masukkan Nomor Halaman yang benar
        <br/>
        <br/>
    </h5>
    <table class="table table-bordered table-condensed" ng-init="page.current=1" ng-show="page.current>0 && page.current<=page.max">
        <tr>
            <th class="text-center" ng-repeat="field in fields" ng-if="field.grid" ng-click="sort.field == field.name ? sort.order =! sort.order : null ; sort.field = field.name">
                <span>
                    <span ng-bind="field.header"></span>
                    <span>&nbsp;</span>
                    <span ng-show="sort.field == '{{field.name}}' && sort.order" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="sort.field == '{{field.name}}' && !sort.order" class="glyphicon glyphicon-triangle-top"></span>
                </span>
            </th>
            <th class="text-center">Pilihan</th>
        </tr>
        <tr ng-repeat="item in displayed = (filtered = (items | filter: search) | orderBy: sort.field: sort.order | startFrom: (page.current-1)*page.items | limitTo:page.items)">
            <td ng-repeat="field in fields" ng-if="field.grid">
                <span ng-if=" field.type=='string'">
                    <span ng-bind="item.{{field.name}} | limitTo:'30'"></span>
                    <span ng-show="item.{{field.name}}.length>30">...</span>
                </span>
                <span ng-if="field.type=='date'">
                    <span ng-bind="item.{{field.name}} | date:field.filter"></span>
                </span>
                <span ng-if="field.type=='array'">
                    <span ng-bind="item.{{field.name}}"></span>
                </span>
                <span ng-if="field.type=='jenis'">
                    <span ng-if="item.jenis">EMERGENCY</span>
                    <span ng-if="!item.jenis">RUTIN</span>
                </span>
                <span ng-if="field.type=='ppn'">
                    <span ng-if="item.ppn">YA</span>
                    <span ng-if="!item.ppn">TIDAK</span>
                </span>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" title="Detail" ng-click="openRead(item)">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" title="Edit" ng-click="openUpdate(item)" ng-if="access.update&&item.editable">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" title="Delete" ng-click="delete(item)" ng-if="access.delete&&item.editable">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <!-- <span ng-if="(module=='permintaanBarang' || module=='pesananBarang')&&item.editable">
                    <button type="button" class="btn btn-default btn-xs" title="Setujui" ng-click="approveAllItem(item)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="Tolak" ng-click="rejectAllItem(item)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span> -->
            </td>
        </tr>
    </table>
    <div class="form-inline" ng-show="!!filtered.length">
        <span class="pull-right">
            <form name="currentPageForm">
                <span ng-show="!!displayed.length && currentPageForm.$valid">
                    <span>Menampilkan</span>
                    <span ng-bind="((page.current-1)*page.items+1)+ '-'+((page.current*page.items<filtered.length)?page.current*page.items:filtered.length)"></span>
                    <span>dari</span>
                    <span ng-bind="filtered.length"></span>
                    <span>data&nbsp;&nbsp;&nbsp;</span>
                </span>
                <span class="input-group input-group-sm">
                    <span class="input-group-btn">
                        <button type="button" class="form-control btn btn-default" ng-click="page.current=1" ng-disabled="currentPageForm.$invalid||page.current==1">
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </button>
                        <button type="button" class="form-control btn btn-default" ng-click="page.current=(page.current-1)" ng-disabled="currentPageForm.$invalid || page.current==1">
                            <span class="glyphicon glyphicon-backward"></span>
                        </button>
                    </span>
                    <span>
                        <input type="number" name="page.current" class="form-control text-center" min="1" max="{{page.max}}" ng-max="page.max" ng-model="page.current" required/>
                    </span>
                    <span class="input-group-addon">
                        <strong>
                            <span>dari</span>
                            <span ng-bind="page.max=(Math.ceil(filtered.length / page.items))"></span>
                        </strong>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="form-control btn btn-default" ng-click="page.current=(page.current+1)" ng-disabled="currentPageForm.$invalid||page.current==page.max">
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>
                        <button type="button" class="form-control btn btn-default" ng-click="page.current=page.max" ng-disabled="currentPageForm.$invalid || page.current==page.max">
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </span>
                </span>
            </form>
        </span>
    </div>
</div>
