<div class="modal-body">
    <!-- {{supplier|json}} -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Buat Master Supplier</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Master Supplier
            <span ng-bind="supplier.kode"></span>
        </h3>
    </div>
    <form name="supplierForm" class=row>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama.." ng-model="supplier.nama" required/>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="alamat">Alamat</label>
            <textarea class="form-control" id="alamat" name="alamat" placeholder="Masukkan Alamat.." ng-model="supplier.alamat" required></textarea>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="nomorTelepon">Nomor Telepon</label>
            <input type="text" class="form-control" id="nomorTelepon" name="nomorTelepon" placeholder="Masukkan Nomor Telepon.." ng-model="supplier.nomorTelepon" required/>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="kategori">Kategori</label>
            <ui-select multiple ng-model="supplier.kategori" theme="bootstrap">
                <ui-select-match placeholder="Masukkan Kategori...">
                    <span ng-bind="$item.kode"></span>
                </ui-select-match>
                <ui-select-choices repeat="kategoriBarang.kode as kategoriBarang in kategoriBarangs | filter:$select.search | orderBy:'kategori'">
                    <span ng-bind="kategoriBarang.kategori"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-xs-12" ng-if="supplier.editable">
            <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="supplierForm.$invalid||!supplier.kategori.length">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="delete(supplier)" ng-if="access.delete&&!newForm">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>