<div class="modal-body">
    <button class="btn btn-default btn-xs pull-right" type="button" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Penjualan Waste</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="col-xs-6">
                <strong>Nomor Penjualan Waste</strong>
            </td>
            <td class="col-xs-6" ng-bind="penjualanWaste.nomor"></td>
        </tr>
        <tr>
            <td>
                <strong>Tanggal</strong>
            </td>
            <td ng-bind="penjualanWaste.tanggal | date:'longDate'"></td>
        </tr>
        <tr>
            <td>
                <strong>Nama</strong>
            </td>
            <td ng-bind="penjualanWaste.nama"></td>
        </tr>
        <tr>
            <td>
                <strong>Alamat</strong>
            </td>
            <td ng-bind="penjualanWaste.alamat"></td>
        </tr>
        <tr>
            <td colspan=2>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th colspan=4 class="text-center">Detail Barang</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nama Barang</th>
                        <th class="text-center">Satuan</th>
                        <th class="text-center">Jumlah</th>
                        <th class="text-center">Harga</th>
                    </tr>
                    <tr ng-repeat="detail in penjualanWaste.wasteItemsList">
                        <td class="text-center" ng-bind="detail.nama"></td>
                        <td class="text-center" ng-bind="detail.satuan"></td>
                        <td class="text-center" ng-bind="detail.jumlah"></td>
                        <td class="text-center" ng-bind="detail.harga"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <button class="btn btn-default btn-sm" type="button" ng-click="openUpdate(penjualanWaste)" ng-disabled="penjualanWasteForm.$invalid">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Ubah</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="delete(penjualanWaste)" ng-show="!newForm">
        <span class="glyphicon glyphicon-trash"></span>
        <span>&nbsp;Hapus</span>
    </button>
</div>