<div class="modal-body">
    <!-- <span ng-bind="penjualanWaste|json"></span>
    <br/> -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Tambah Penjualan Waste</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Penjualan Waste</h3>
    </div>
    <form class="row" name="penjualanWasteForm">
        <div class="form-group col-xs-12" ng-if="!newForm">
            <label for="nomor">Nomor:&nbsp;</label>
            <span ng-bind="penjualanWaste.nomor"></span>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama.." ng-model="penjualanWaste.nama" required/>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="alamat">Alamat</label>
            <input type="text" class="form-control" id="alamat" name="alamat" placeholder="Masukkan Alamat.." ng-model="penjualanWaste.alamat" required/>
        </div>
        <div class="form-group col-xs-12 input-group-sm">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-center" colspan=5>Item Waste</th>
                </tr>
                <tr>
                    <th class="text-center">Nama Barang</th>
                    <th class="text-center">Satuan</th>
                    <th class="text-center">Jumlah</th>
                    <th class="text-center">Harga</th>
                    <th></th>
                </tr>
                <tr ng-repeat="detailBarang in penjualanWaste.wasteItemsList">
                    <td class="text-center">
                        <span ng-bind="detailBarang.waste.nama"></span>
                    </td>
                    <td class="text-center">
                        <span ng-bind="detailBarang.waste.satuan"></span>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-center" type="number" name="jumlah" ng-model="detailBarang.jumlah" min="1" required/>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-center" type="number" name="harga" ng-model="detailBarang.harga" min="1" required/>
                    </td>
                    <td class="input-group-sm">
                        <button type="button" class="btn btn-default btn-sm" ng-click="removeDetail($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="penjualanWasteForm.$invalid||!penjualanWaste.wasteItemsList.length">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="delete(penjualanWaste)" ng-show="!newForm">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>