<h3>Tambah Kategori Barang</h3>
<br/>
<form name="kategoriBarangForm">
    <table class="table-bordered table-condensed">
        <tr>
            <td>Kode Kategori Barang</td>
            <td><input type="text" ng-model="kategoriBarang.kdKategori" required/></td>
        </tr>
        <tr>
            <td>Kategori Barang</td>
            <td><input type="text" ng-model="kategoriBarang.kategori" required/></td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Simpan" ng-click="create()" ng-disabled="kategoriBarangForm.$invalid"/>
    <button type="button" ng-click="back()">Kembali</button>
</form>
