<div class="modal-body">
    <h3>
        <div ng-if="status">Tambah Kategori Barang</div>
        <div ng-if="!status">Edit Kategori Barang</div>
    </h3>
    <form name="kategoriBarangForm">
        <table class="table-bordered table-condensed">
            <tr>
                <td>Kode</td>
                <td>
                    <input type="text" name="kode" ng-model="kategoriBarang.kode" ng-disabled="!status" required/>
                    <span ng-show="kategoriBarangForm.kode.$error.required && status">*</span>
                </td>
            </tr>
            <tr>
                <td>Kategori</td>
                <td>
                    <input type="text" name="kategori" ng-model="kategoriBarang.kategori" required/>
                    <span ng-show="kategoriBarangForm.kategori.$error.required">*</span>
                </td>
            </tr>
        </table>
        <br/>
        <input class="btn btn-default" type="submit" value="Simpan" ng-click="status==true ? create() : update()" ng-disabled="kategoriBarangForm.$invalid"/>
        <button class="btn btn-default" type="button" ng-click="delete(kategoriBarang)" ng-show="!status">Hapus</button>
        <button class="btn btn-default" type="button" ng-click="close()">Kembali</button>
    </form>
</div>
