<div class="modal-body">
    <button class="btn btn-default btn-sm pull-right" type="button" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
    <div ng-show="status"><h3>Tambah Kategori Barang</h3></div>
    <div ng-show="!status"><h3>Ubat Kategori Barang</h3></div>
    <form name="kategoriBarangForm">
        <div class="form-group">
            <label for="kode">Kode</label>
            <input type="text" class="form-control" id="kode" name="kode" placeholder="Masukkan Kode.." ng-model="kategoriBarang.kode" ng-disabled="!status" required/>
        </div>
        <div class="form-group">
            <label for="kategori">Kategori</label>
            <input type="text" class="form-control" id="kode" name="kategori" placeholder="Masukkan Kategori.." ng-model="kategoriBarang.kategori" required/>
        </div>
        <button class="btn btn-default btn-sm" type="submit" ng-click="status==true ? create() : update()" ng-disabled="kategoriBarangForm.$invalid">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span> Simpan</span>
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="delete(kategoriBarang)" ng-show="!status">
            <span class="glyphicon glyphicon-trash"></span>
            <span> Hapus</span>
        </button>
    </form>
</div>
