<h3>Master Kategori Barang</h3>
<br/>
<button type="button" ui-sref="createKategoriBarangState">Tambah Kategori Barang</button>
<button type="button" ng-click="deleteSelected()">Hapus Pilihan</button>
<br/>
<br/>
<h4 ng-show="!kategoriBarangs.length">Data Permintaan Barang Kosong</h4>
<div ng-show="!!kategoriBarangs.length">
	<table class="table-condensed">
		<tr>
			<td>Filter di Semua</td>
			<td><input name="query" ng-model="search.$"/></td>
		</tr>
	</table>
	<br/>
	<!-- <div ng-bind="kategoriBarangs | filter:{selected:true} | json"></div><br/> -->
	<table class="table-striped table-bordered table-hover table-condensed" ng-init="currentPage=1">
		<tr>
			<th rowspan="2"><input type="checkbox" ng-model="selectedAll" ng-init="selectedAll=false" ng-change="checkAll()"></th>
			<th><a href="" ng-click="sort='kode';reverse=!reverse">Kode</a></th>
			<th><a href="" ng-click="sort='kategori';reverse=!reverse">Kategori</a></th>
			<th rowspan="2">Pilihan</th>
		</tr>
		<tr>
			<td><input type="text" ng-model="search.kode"/></td>
			<td><input type="text" ng-model="search.kategori"/></td>
		</tr>
		<tr ng-repeat="kategoriBarang in filtered = (kategoriBarangs | filter:search:false) | orderBy:sort:reverse | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage ">
			<td><input type="checkbox" ng-model="kategoriBarang.selected" ng-change="uncheckAll(kategoriBarang.selected)"></td>
			<td ng-bind="kategoriBarang.kode"></td>
			<td ng-bind="kategoriBarang.kategori"></td>
			<td>
				<button type="button" ng-click="openDetail(kategoriBarang)">Detail</button>
				<button type="button" ui-sref="updateKategoriBarangState({id:kategoriBarang.kode})">Edit</button>
				<button type="button" ng-click="delete(kategoriBarang)">Hapus</button>
			</td>
		</tr>
		</table>
	<div>
		<pagination
			class="pagination-sm"
			total-items="filtered.length"
			ng-model="currentPage"
			items-per-page="itemsPerPage"
			max-size="5"
			num-pages="numPages"
			boundary-links="true"
			first-text="Pertama"
			last-text="Terakhir"
			previous-text="Sebelumnya"
			next-text="Selanjutnya"
		>
		</pagination>
	</div>
	Halaman : <span ng-bind="currentPage"></span>/<span ng-bind="numPages"></span><br/>
	Item Per Halaman :
	<select ng-model="itemsPerPage" ng-init="itemsPerPage=10" ng-change="currentPage=1">
		<!-- <option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option> -->
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	</select>
</div>
