<div class="modal-body">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Tambah Katalog Barang</h3>
    <form class="row" name="katalogBarangForm">
        <div class="form-group col-xs-6 input-group-sm">
            <label for="supplier">Supplier</label>
            <select class="form-control" id="supplier" name="supplier" ng-model="temp.supplier" ng-options="supplier.nama for supplier in suppliers | orderBy: 'supplier.nama'" required>
                <option value="">-- Pilih Supplier --</option>
            </select>
        </div>
        <div class="form-group col-xs-12 input-group-sm">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-center" colspan=6>Item Barang</th>
                </tr>
                <tr>
                    <th class="text-center">Nama Barang</th>
                    <th class="text-center">Departemen</th>
                    <th class="text-center">Alias</th>
                    <th class="text-center">Harga</th>
                    <th class="text-center">Lead Time</th>
                    <th></th>
                </tr>
                <tr ng-repeat="detailBarang in barangList">
                    <td class="text-center" ng-bind="detailBarang.barang.nama"></td>
                    <td class="form-group input-group-sm">
                        <select class="form-control" id="departemen" name="departemen" ng-model="detailBarang.departemen" ng-options="departemen.departemen for departemen in departemens|orderBy: 'departemen.departemen' track by departemen.departemen" required>
                            <option value="">-- Pilih Departemen --</option>
                        </select>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control" type="text" name="alias" ng-model="detailBarang.alias" required/>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-right" type="number" name="harga" ng-model="detailBarang.harga" min="0" required/>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-center" type="number" name="leadTime" ng-model="detailBarang.leadTime" min="0" required/>
                    </td>
                    <td class="input-group-sm text-center">
                        <button type="button" class="btn btn-default btn-sm" ng-click="removeDetail($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-default btn-sm" ng-click="create()" ng-disabled="katalogBarangForm.$invalid||!barangList.length">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
        </div>
    </form>
</div>