<div class="modal-body">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Katalog Barang</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="col-xs-6">
                <strong>Nama Barang</strong>
            </td>
            <td class="col-xs-6" ng-bind="katalogBarang.barang.nama"></td>
        </tr>
        <tr>
            <td>
                <strong>Supplier</strong>
            </td>
            <td ng-bind="katalogBarang.supplier.nama"></td>
        </tr>
        <tr>
            <td>
                <strong>Alias</strong>
            </td>
            <td ng-bind="katalogBarang.alias"></td>
        </tr>
        <tr>
            <td>
                <strong>Lead Time</strong>
            </td>
            <td ng-bind="katalogBarang.leadTime"></td>
        </tr>
        <tr ng-if="!!katalogBarang.historyHarga.length">
            <td colspan=2>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th colspan=4 class="text-center">History Harga</th>
                    </tr>
                    <tr>
                        <th class="text-center">Tanggal</th>
                        <th class="text-center">Harga</th>
                    </tr>
                    <tr ng-repeat="historyHarga in katalogBarang.historyHarga | orderBy:'tanggal':'false'">
                        <td class="text-center" ng-bind="historyHarga.tanggal | date:'longDate'"></td>
                        <td class="text-center" ng-bind="historyHarga.harga"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <button class="btn btn-default btn-sm" type="button" ng-click="$dismiss('update')" ng-if="access.update" ng-disabled="katalogBarangForm.$invalid">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Ubah</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="delete(katalogBarang)" ng-if="access.delete" ng-show="!newForm">
        <span class="glyphicon glyphicon-trash"></span>
        <span>&nbsp;Hapus</span>
    </button>
</div>