<div class="modal-body">
    <!-- <span ng-bind="katalogBarang|json"></span>
    <br/> -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Buat Katalog Barang</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Katalog Barang</h3>
    </div>
    <form class="row" name="katalogBarangForm">
        <div class="form-group col-xs-6 input-group-sm">
            <label for="barang">Barang</label>
            <input type="text" class="form-control" id="barang" name="barang" placeholder="Masukkan Barang.." ng-model="katalogBarang.barang" typeahead="barang as barang.nama for barang in barangs | filter:{nama:$viewValue} | limitTo:10 | orderBy:'nama'" typeahead-editable="false"
            ng-disabled="!newForm" required/>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="supplier">Supplier</label>
            <input type="text" class="form-control" id="supplier" name="supplier" placeholder="Masukkan Supplier.." ng-model="katalogBarang.supplier" typeahead="supplier as supplier.nama for supplier in suppliers | filter:{kategori:katalogBarang.barang.kategori} | filter:{nama:$viewValue} | limitTo:10 | orderBy:'nama'"
            typeahead-editable="false" ng-disabled="!newForm || !katalogBarang.barang" required/>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="alias">Alias</label>
            <input type="text" class="form-control" id="alias" name="alias" placeholder="Masukkan Alias.." ng-model="katalogBarang.alias" />
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="leadTime">Lead Time</label>
            <input type="number" class="form-control" id="leadTime" name="leadTime" pattern="\d+" placeholder="Masukkan Lead Time.." ng-model="katalogBarang.leadTime" required/>
        </div>
        <div class="col-xs-12" ng-if="katalogBarang.editable">
            <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="katalogBarangForm.$invalid">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="delete(katalogBarang)" ng-if="!newForm">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>