<div class="modal-body">
    <!-- <span ng-bind="waste|json"></span>
    <br/> -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Buat Master Waste</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Master Waste</h3>
    </div>
    <br/>
    <form class="row" name="wasteForm">
        <div class="form-group col-xs-12" ng-if="!newForm">
            <label for="kode">Kode:&nbsp;</label>
            <span ng-bind="waste.kode"></span>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama.." ng-model="waste.nama" required/>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="satuan">Satuan</label>
            <select class="form-control" id="satuan" name="satuan" ng-model="waste.satuan" ng-options="satuanGudang.satuan as satuanGudang.satuan for satuanGudang in satuanGudangs" required>
                <option value="">-- Pilih Satuan --</option>
            </select>
        </div>
        <div class="col-xs-12" ng-if="waste.editable">
            <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="wasteForm.$invalid">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="delete(waste)" ng-if="access.delete&&!newForm">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>