<div class="modal-body">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Permintaan Barang</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="col-xs-6">
                <strong>Nomor</strong>
            </td>
            <td class="col-xs-6" ng-bind="permintaanBarang.nomor"></td>
        </tr>
        <tr>
            <td>
                <strong>Tanggal</strong>
            </td>
            <td ng-bind="permintaanBarang.tanggal | date:'longDate'"></td>
        </tr>
        <tr>
            <td>
                <strong>Jenis</strong>
            </td>
            <td>
                <div ng-if="permintaanBarang.emergency">EMERGENCY</div>
                <div ng-if="!permintaanBarang.emergency">RUTIN</div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Kategori</strong>
            </td>
            <td ng-bind="permintaanBarang.kategori"></td>
        </tr>
        <tr>
            <td>
                <strong>Status</strong>
            </td>
            <td ng-bind="permintaanBarang.status"></td>
        </tr>
        <tr>
            <td colspan=2>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th colspan=7 class="text-center">Item Barang</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nama</th>
                        <th class="text-center">Satuan</th>
                        <th class="text-center">Jumlah</th>
                        <th class="text-center">Tanggal Butuh</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Sisa</th>
                        <th class="text-center">Keterangan</th>
                        <th class="text-center" ng-if="permintaanBarang.someEditable">Pilihan</th>
                    </tr>
                    <tr ng-repeat="itemBarang in permintaanBarang.sppItemsList">
                        <td class="text-center" ng-bind="itemBarang.barang.nama"></td>
                        <td class="text-center" ng-bind="itemBarang.satuan"></td>
                        <td class="text-center" ng-bind="itemBarang.jumlah"></td>
                        <td class="text-center" ng-bind="itemBarang.tanggalButuh | date:'longDate'"></td>
                        <td class="text-center" ng-bind="itemBarang.status"></td>
                        <td class="text-center" ng-bind="itemBarang.sisa"></td>
                        <td class="text-center" ng-bind="itemBarang.keterangan"></td>
                        <td class="text-center" ng-if="itemBarang.editable" ng-init="permintaanBarang.someEditable=true">
                            <button type="button" class="btn btn-default btn-xs" title="Setujui" ng-click="approveItem(permintaanBarang, itemBarang)">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" title="Tolak" ng-click="rejectItem(permintaanBarang, itemBarang)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td ng-if="!itemBarang.editable&&permintaanBarang.someEditable"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div ng-if="permintaanBarang.editable">
        <button class="btn btn-default btn-sm" type="button" ng-click="$dismiss('update')" ng-if="access.update">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span>&nbsp;Ubah</span>
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="approveAllItem(permintaanBarang)" ng-if="access.update">
            <span class="glyphicon glyphicon-ok"></span>
            <span>&nbsp;Setujui</span>
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="rejectAllItem(permintaanBarang)" ng-if="access.update">
            <span class="glyphicon glyphicon-remove"></span>
            <span>&nbsp;Tolak</span>
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="delete(permintaanBarang)" ng-if="access.delete">
            <span class="glyphicon glyphicon-trash"></span>
            <span>&nbsp;Hapus</span>
        </button>
    </div>
</div>
