<div class="modal-body">
    <!-- <span ng-bind="getBarangs(permintaanBarang.kategori)|json"></span>
    <br/> -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Buat Permintaan Barang (SPP)</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Permintaan Barang (SPP)
            <span ng-bind="permintaanBarang.nomor"></span>
        </h3>
    </div>
    <br/>
    <form class="row" name="permintaanBarangForm">
        <div class="form-group col-xs-4 input-group-sm">
            <label for="kategori">Kategori (Golongan)</label>
            <select class="form-control" id="kategori" name="kategori" ng-model="permintaanBarang.kategori" ng-options="kategoriBarang.kode as kategoriBarang.kategori for kategoriBarang in kategoriBarangs | orderBy:'kategori'" required>
                <option value="">-- Pilih Kategori --</option>
            </select>
        </div>
        <div class="form-group col-xs-4 input-group-sm">
            <label for="emergency">
                <span>Emergency:&nbsp;</span>
                <input type="checkbox" id="emergency" name="emergency" ng-model="permintaanBarang.emergency" />
            </label>
        </div>
        <div class="form-group col-xs-12 input-group-sm">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" colspan=6>Item Barang</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nama</th>
                        <th class="text-center">Satuan</th>
                        <th class="text-center">Jumlah</th>
                        <th class="text-center">Tanggal Butuh</th>
                        <th class="text-center">Keterangan</th>
                        <th class="text-center">Pilihan</th>
                    </tr>
                </thead>
                <tbody ng-repeat="itemBarang in permintaanBarang.sppItemsList">
                    <tr ng-if="itemBarang.editable">
                        <td class="input-group-sm">
                            <input type="text" class="form-control" id="barang" name="barang" placeholder="Masukkan Barang.." ng-model="itemBarang.barang" typeahead="barang as barang.nama for barang in getBarangs(permintaanBarang.kategori) | filter:{nama:$viewValue} | limitTo:10 | orderBy:'nama'"
                            typeahead-editable="false" typeahead-on-select="itemBarang.hargaKatalog = getHarga($item.kode); itemBarang.leadTime = getLeadTime($item.kode); itemBarang.minDate = getMinDate(itemBarang.leadTime); itemBarang.tanggalButuh = itemBarang.minDate"
                            ng-disabled="!permintaanBarang.kategori" required/>
                        </td>
                        <td class="text-center input-group-sm">
                            <select class="form-control" id="satuan" name="satuan" ng-model="itemBarang.satuan" ng-disabled="!permintaanBarang.kategori" required>
                                <option value="">-- Pilih Satuan --</option>
                                <option ng-repeat="satuanGudang in satuanGudangArray" ng-selected="satuanGudang == itemBarang.satuan" value="{{satuanGudang}}">{{satuanGudang}}</option>
                            </select>
                        </td>
                        <td class="text-center input-group-sm">
                            <input class="form-control text-center" type="number" name="jumlah" ng-model="itemBarang.jumlah" min="1" pattern="\d+" ng-change="itemBarang.sisa = itemBarang.jumlah" ng-disabled="!permintaanBarang.kategori" required/>
                        </td>
                        <td class="text-center">
                            <span ng-bind="itemBarang.tanggalButuh | date: 'dd MMMM yyyy'"></span>
                            <span ng-model="itemBarang.tanggalButuh" init-date="itemBarang.tanggalButuh" datepicker-popup="dd MMMM yyyy" is-open="opened.tanggalButuh[$index]" min-date="itemBarang.minDate" startingDay="1" current-text="Sekarang" clear-text="Hapus" close-text="Tutup">
                            </span>
                            <span>
                                <button type="button" class="btn btn-default btn-sm" ng-click="openTanggalButuh($event, $index)" ng-disabled="!permintaanBarang.kategori">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </td>
                        <td class="input-group-sm">
                            <textarea class="form-control" ng-model="itemBarang.keterangan" ng-disabled="!permintaanBarang.kategori" capitalize></textarea>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-sm" ng-click="removeDetail($index)" ng-disabled="permintaanBarang.sppItemsList.length<=1">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="!itemBarang.editable">
                        <td class="text-center" ng-bind="itemBarang.barang.nama"></td>
                        <td class="text-center" ng-bind="itemBarang.satuan"></td>
                        <td class="text-center" ng-bind="itemBarang.jumlah"></td>
                        <td class="text-center" ng-bind="itemBarang.tanggalButuh | date: longDate"></td>
                        <td class="text-center" ng-bind="itemBarang.keterangan"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-default btn-sm" ng-click="addDetail()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Tambah Item</span>
            </button>
        </div>
        <div class="col-xs-12" ng-if="permintaanBarang.editable">
            <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="permintaanBarangForm.$invalid||!permintaanBarang.sppItemsList.length">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="delete(permintaanBarang)" ng-if="access.delete&&!newForm" ng-show="!newForm">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>