<h3>Transaksi Permintaan Barang</h3>
<br/>
<button type="button" ui-sref="createPermintaanBarangState">Tambah Permintaan Barang</button>
<br/>
<br/>
<h4 ng-show="!permintaanBarangs.length">Data Permintaan Barang Kosong</h4>
<div ng-show="!!permintaanBarangs.length">
	<table class="table-condensed">
		<tr>
			<td>Filter</td>
			<td>:  <input ng-model="query"></td>
		</tr>
	</table>
	<br/>
	<table class="table-striped table-bordered table-condensed">
		<tr>
			<th><a href="" ng-click="sort='noSpp';reverse=!reverse">Nomor Permintaan Barang</a></th>
			<th><a href="" ng-click="sort='tglPermintaan';reverse=!reverse">Tanggal Permintaan</a></th>
			<th><a href="" ng-click="sort='jenis';reverse=!reverse">Jenis Permintaan</a></th>
			<th><a href="" ng-click="sort='departemen.departemen';reverse=!reverse">Peminta</a></th>
			<th><a href="" ng-click="sort='periode';reverse=!reverse">Periode</a></th>
			<th>Pilihan</th>
		</tr>
		<tr ng-repeat="permintaanBarang in permintaanBarangs | filter:query | orderBy:sort">
			<td ng-bind="permintaanBarang.noSpp"></td>
			<td ng-bind="permintaanBarang.tglPermintaan | date:'longDate'"></td>
			<td>
				<div ng-if="permintaanBarang.jenis">EMERGENCY</div>
				<div ng-if="!permintaanBarang.jenis">RUTIN</div>
			</td>
			<td ng-bind="permintaanBarang.departemen.departemen"></td>
			<td ng-bind="permintaanBarang.periode | date:'MMMM yyyy'"></td>
			<td>
				<button type="button" ui-sref="readPermintaanBarangState({id:permintaanBarang.noSpp})">Detail</button>
				<button type="button" ui-sref="updatePermintaanBarangState({id:permintaanBarang.noSpp})">Edit</button>
				<button type="button" ng-click="delete(permintaanBarang)">Hapus</button>
			</td>
		</tr>
	</table>
</div>
