<div class="modal-body">
	<h3>Detail Permintaan Barang</h3>
	<br/>
	<table class="table-bordered table-condensed">
		<tr>
			<td>Nomor Permintaan Barang</td>
			<td ng-bind="permintaanBarang.nomor"></td>
		</tr>
		<tr>
			<td>Tanggal Permintaan</td>
			<td ng-bind="permintaanBarang.tanggal | date:'longDate'"></td>
		</tr>
		<tr>
			<td>Jenis Permintaan</td>
			<td>
				<div ng-if="permintaanBarang.jenis">EMERGENCY</div>
				<div ng-if="!permintaanBarang.jenis">RUTIN</div>
			</td>
		</tr>
		<tr>
			<td>Peminta</td>
			<td ng-bind="permintaanBarang.departemen.departemen"></td>
		</tr>
		<tr>
			<td>Periode</td>
			<td ng-bind="permintaanBarang.periode | date:'MMMM yyyy'"></td>
		</tr>
		<tr>
			<td>Detail Barang</td>
			<td>
				<table class="table-bordered table-condensed">
					<tr>
						<th>Nama Barang</th>
						<th>Jumlah</th>
						<th>Tanggal Butuh</th>
					</tr>
					<tr ng-repeat="detail in permintaanBarang.sppItemsList">
						<td ng-bind="detail.barang.nama"></td>
						<td ng-bind="detail.jumlah"></td>
						<td ng-bind="detail.tanggalButuh | date:'longDate'"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/>
	<button type="button" ng-click="closeDetail()">Kembali</button>
</div>
