<div class="modal-body">
    <button class="btn btn-default btn-xs pull-right" type="button" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Barang</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <td>
                <strong>Kode</strong>
            </td>
            <td ng-bind="barang.kode"></td>
        </tr>
        <tr>
            <td>
                <strong>Kategori</strong>
            </td>
            <td ng-bind="barang.kategori"></td>
        </tr>
        <tr>
            <td>
                <strong>Nama</strong>
            </td>
            <td ng-bind="barang.nama"></td>
        </tr>
        <tr>
            <td>
                <strong>Alias</strong>
            </td>
            <td ng-bind="barang.alias"></td>
        </tr>
        <tr>
            <td>
                <strong>Satuan</strong>
            </td>
            <td ng-bind="barang.satuan"></td>
        </tr>
        <tr>
            <td>
                <strong>Spesifikasi</strong>
            </td>
            <td ng-bind="barang.keterangan"></td>
        </tr>
        <tr>
            <td>
                <strong>Deskripsi</strong>
            </td>
            <td ng-bind="barang.deskripsi"></td>
        </tr>
    </table>
    <br/>
    <button type="button" class="btn btn-default btn-sm" ng-click="openUpdate(barang)" ng-disabled="barangForm.$invalid">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span>&nbsp;Ubah</span>
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="delete(barang)" ng-show="!newForm">
        <span class="glyphicon glyphicon-trash"></span>
        <span>&nbsp;Hapus</span>
    </button>
</div>