<div class="modal-body">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Master Barang</h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="col-xs-6">
                <strong>Kode</strong>
            </td>
            <td class="col-xs-6" ng-bind="barang.kode"></td>
        </tr>
        <tr>
            <td>
                <strong>Kategori</strong>
            </td>
            <td ng-bind="barang.kategori"></td>
        </tr>
        <tr>
            <td>
                <strong>Nama</strong>
            </td>
            <td ng-bind="barang.nama"></td>
        </tr>
        <tr>
            <td>
                <strong>Satuan</strong>
            </td>
            <td ng-bind="barang.satuan"></td>
        </tr>
        <tr>
            <td>
                <strong>Spesifikasi</strong>
            </td>
            <td>
                <span ng-repeat="form in spesifikasiForms[barang.kategori]">
                    <span ng-bind="form.header + ' : '+ spesifikasiUtama[form.name]"></span>
                    <br/>
                </span>
                <span ng-if="barang.spesifikasiTambahan">
                    <br/>
                    <span ng-bind="barang.spesifikasiTambahan"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Deskripsi</strong>
            </td>
            <td ng-bind="barang.deskripsi"></td>
        </tr>
        <!-- <tr>
            <div class="form-group col-xs-6">
                <label for="kode">Kode:&nbsp;</label>
                <span ng-bind="barang.kode"></span>
            </div>
        </tr>
        <tr>
            <div class="form-group col-xs-6">
                <label for="kategori">Kategori:&nbsp;</label>
                <span ng-bind="barang.kategori"></span>
            </div>
        </tr>
        <tr>
            <div class="form-group col-xs-6">
                <label for="nama">Nama:&nbsp;</label>
                <span ng-bind="barang.nama"></span>
            </div>
        </tr>
        <tr>
            <div class="form-group col-xs-6">
                <label for="satuan">Satuan:&nbsp;</label>
                <span ng-bind="barang.satuan"></span>
            </div>
        </tr>
        <tr>
            <div class="form-group col-xs-6">
                <label for="spesifikasi">Spesifikasi:&nbsp;</label>
                <span ng-bind="barang.spesifikasi"></span>
            </div>
        </tr>
        <tr>
            <div class="form-group col-xs-6">
                <label for="deskripsi">Deskripsi:&nbsp;</label>
                <span ng-bind="barang.deskripsi"></span>
            </div>
        </tr> -->
    </table>
    <div ng-if="barang.editable">
        <button type="button" class="btn btn-default btn-sm" ng-click="$dismiss('update')" ng-if="access.update" ng-disabled="barangForm.$invalid">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span>&nbsp;Ubah</span>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="delete(barang)" ng-if="access.delete">
            <span class="glyphicon glyphicon-trash"></span>
            <span>&nbsp;Hapus</span>
        </button>
    </div>
</div>