<div class="modal-body">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Master Barang
        <span ng-bind="barang.kode"></span>
    </h3>
    <table class="table table-bordered table-condensed">
        <tr>
            <td>
                <strong>Nama</strong>
            </td>
            <td colspan="3" ng-bind="barang.nama"></td>
        </tr>
        <tr>
            <td class="col-xs-2">
                <strong>Golongan</strong>
            </td>
            <td class="col-xs-4" ng-bind="barang.kategori"></td>
            <td class="col-xs-2">
                <strong>Satuan</strong>
            </td>
            <td class="col-xs-4" ng-bind="barang.satuan"></td>
        </tr>
        <tr>
            <td>
                <strong>Spesifikasi</strong>
            </td>
            <td colspan="3" ng-bind="barang.spesifikasi"></td>
        </tr>
        <tr>
            <td>
                <strong>Deskripsi</strong>
            </td>
            <td colspan="3" ng-bind="barang.deskripsi"></td>
        </tr>
    </table>
    <div ng-if="barang.editable">
        <button type="button" class="btn btn-default btn-sm" ng-click="$dismiss('update')" ng-if="access.update">
            <span class="glyphicon glyphicon-edit"></span>
            <span>&nbsp;Ubah</span>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="delete()" ng-if="access.delete">
            <span class="glyphicon glyphicon-trash"></span>
            <span>&nbsp;Hapus</span>
        </button>
    </div>
</div>