<div class="modal-body">
    <button class="btn btn-default btn-sm pull-right" type="button" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
    <div ng-show="status"><h3>Tambah Kategori Barang</h3></div>
    <div ng-show="!status"><h3>Ubah Kategori Barang</h3></div>
    <form name="barangForm">
        <div class="form-group">
            <label for="kode">Kode</label>
            <input type="text" class="form-control" id="kode" name="kode" placeholder="Masukkan Kode.." ng-model="barang.kode" ng-disabled="!status" required/>
        </div>
        <div class="form-group">
            <label for="kategori">Kategori</label>
            <select class="form-control" id="kategori" name="kategori" ng-model="barang.kategori" ng-options="kategoriBarang.kode as kategoriBarang.kategori for kategoriBarang in kategoriBarangs | orderBy: 'kategori'" required>
                <option value="">-- Pilih Kategori --</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama.." ng-model="barang.nama" required/>
        </div>
        <div class="form-group">
            <label for="alias">Alias</label>
            <input type="text" class="form-control" id="alias" name="alias" placeholder="Masukkan Alias.." ng-model="barang.alias"/>
        </divalias
        <div class="form-group">
            <label for="satuan">Satuan</label>
            <!-- <input type="text" class="form-control" id="satuan" name="satuan" placeholder="Masukkan satuan.." ng-model="barang.satuan" required/> -->
            <select class="form-control" id="satuan" name="satuan" ng-model="barang.satuan" ng-options="satuanGudang.satuan as kategoriBarang.kategori for kategoriBarang in kategoriBarangs | orderBy: 'kategori'" required>
                <option value="">-- Pilih Kategori --</option>
            </select>
        </div>
        <div class="form-group">
            <label for="deskripsi">Deskripsi</label>
            <textarea class="form-control" id="deskripsi" name="deskripsi" placeholder="Masukkan Deskripsi.." ng-model="barang.deskripsi"></textarea>
        </div>
        <button class="btn btn-default btn-sm" type="submit" ng-click="status==true ? create() : update()" ng-disabled="barangForm.$invalid">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span> Simpan</span>
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="delete(barang)" ng-show="!status">
            <span class="glyphicon glyphicon-trash"></span>
            <span> Hapus</span>
        </button>
    </form>
</div>
