<h3>Master Barang</h3>
<br/>
<button type="button" ui-sref="createBarangState">Tambah Barang</button>
<br/>
<br/>
<h4 ng-show="!barangs.length">Data Permintaan Barang Kosong</h4>
<div ng-show="!!barangs.length">
	<table class="table-condensed">
		<tr>
			<td>Filter</td>
			<td><input name="query" ng-model="query"/></td>
		</tr>
	</table>
	<br/>
	<table class="table-striped table-hover table-bordered table-condensed" ng-init>
		<tr>
			<th><a href="" ng-click="sort='kdBarang';reverse=!reverse">Kode Barang</a></th>
			<th><a href="" ng-click="sort='kategori.kategori';reverse=!reverse">Kategori Barang</a></th>
			<th><a href="" ng-click="sort='namaBarang';reverse=!reverse">Nama Barang</a></th>
			<th><a href="" ng-click="sort='alias';reverse=!reverse">Nama Alias</a></th>
			<th><a href="" ng-click="sort='satuan';reverse=!reverse">Satuan Gudang</a></th>
			<th><a href="" ng-click="sort='deskripsi';reverse=!reverse">Deskripsi</a></th>
			<th>Pilihan</th>
		</tr>
		<tr ng-repeat="barang in barangs | filter:query | orderBy:sort:reverse">
			<td ng-bind="barang.kdBarang"></td>
			<td ng-bind="barang.kategori.kategori"></td>
			<td ng-bind="barang.namaBarang"></td>
			<td ng-bind="barang.alias"></td>
			<td ng-bind="barang.satuan.satuan"></td>
			<td ng-bind="barang.deskripsi"></td>
			<td>
				<button type="button" ui-sref="readBarangState({id:barang.kdBarang})">Detail</button>
				<button type="button" ui-sref="updateBarangState({id:barang.kdBarang})">Edit</button>
				<button type="button" ng-click="delete(barang)">Hapus</button>
			</td>
		</tr>
	</table>
</div>
