<div class="modal-body">
	<h3>Detail Barang</h3>
	<br/>
	<table class="table-bordered table-condensed">
		<tr>
			<td>Kode Barang</td>
			<td ng-bind="barang.kode"></td>
		</tr>
		<tr>
			<td>Kategori Barang</td>
			<td ng-bind="barang.kategori"></td>
		</tr>
		<tr>
			<td>Nama Barang</td>
			<td ng-bind="barang.nama"></td>
		</tr>
		<tr>
			<td>Nama Alias</td>
			<td ng-bind="barang.alias"></td>
		</tr>
		<tr>
			<td>Satuan Gudang</td>
			<td ng-bind="barang.satuan"></td>
		</tr>
		<tr>
			<td>Deskripsi</td>
			<td ng-bind="barang.deskripsi"></td>
		</tr>
	</table>
	<br/>
	<button type="button" ng-click="closeDetail()">Kembali</button>
</div>
