<div ng-init="findOne()">
	<h3>Edit Barang</h3>
	<br/>
	<form name="barangForm">
		<table class="table-bordered table-condensed"> 
			<tr>
				<td>Kode Barang</td>
				<td><input type="text" ng-model="barang.kdBarang" disabled /></td>
			</tr>
			<tr>
				<td>Kategori Barang</td>
				<td><select ng-model="barang.kategori" ng-options="kategoriBarang.kategori for kategoriBarang in kategoriBarangs | orderBy:'kategori' track by kategoriBarang.kategori" required /></select></td>
			</tr>
			<tr>
				<td>Nama Barang</td>
				<td><input type="text" ng-model="barang.namaBarang" required /></td>
			</tr>
			<tr>
				<td>Nama Alias</td>
				<td><input type="text" ng-model="barang.alias" required /></td>
			</tr>
						<tr>
				<td>Satuan Gudang</td>
				<td><select ng-model="barang.satuan" ng-options="satuanGudang.satuan for satuanGudang in satuanGudangs | orderBy:'satuan' track by satuanGudang.satuan" required /></select></td>
			</tr>
			<tr>
				<td>Deskripsi</td>
				<td><input type="textarea" ng-model="barang.deskripsi" /></td>
			</tr>
		</table>
		<br/>
		<input type="submit" value="Simpan" ng-click="update()" ng-disabled="barangForm.$invalid" />
		<button type="button" ng-click="delete()">Hapus</button>
		<button type="button" ng-click="back()">Kembali</button>
	</form>
</div>