<div class="modal-body">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3>Detail Pesanan Barang (SP)
        <span ng-bind="pesananBarang.nomor"></span>
    </h3>
    <form name="pesananBarangForm">
        <table class="table table-bordered table-condensed">
            <tr>
                <td>
                    <strong>Tanggal</strong>
                </td>
                <td ng-bind="pesananBarang.tanggal | date:'longDate'"></td>
                <td>
                    <strong>Supplier</strong>
                </td>
                <td ng-bind="pesananBarang.supplier.nama"></td>
            </tr>
            <tr>
                <td class="col-xs-2">
                    <strong>PPN</strong>
                </td>
                <td class="col-xs-4">
                    <div ng-if="pesananBarang.jenis">YA</div>
                    <div ng-if="!pesananBarang.jenis">TIDAK</div>
                </td>
                <td class="col-xs-2">
                    <strong>Kurs</strong>
                </td>
                <td class="col-xs-4" ng-bind="pesananBarang.kurs"></td>
            </tr>
            <tr>
                <td>
                    <strong>Syarat Bayar</strong>
                </td>
                <td ng-bind="pesananBarang.syaratBayar"></td>
                <td>
                    <strong>Status</strong>
                </td>
                <td colspan="3" ng-bind="pesananBarang.status"></td>
            </tr>
            <tr>
                <td colspan="8">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="text-center">Nomor SPP</th>
                            <th class="text-center">Nama</th>
                            <th class="text-center">Satuan</th>
                            <th class="text-center">Jumlah Diminta</th>
                            <th class="text-center">Jumlah Beli</th>
                            <th class="text-center">Harga Satuan ({{pesananBarang.valuta}})</th>
                            <th class="text-center">Total Harga ({{pesananBarang.valutaBayar}})</th>
                            <th class="text-center">Status</th>
                            <th colspan="2" class="text-center" ng-if="pesananBarang.editable">Pengesahan</th>
                        </tr>
                        <tr ng-repeat="itemBarang in pesananBarang.spItemsList">
                            <td class="text-center" ng-bind="itemBarang.spp"></td>
                            <td class="text-center" ng-bind="itemBarang.barang.nama"></td>
                            <td class="text-center" ng-bind="itemBarang.satuan"></td>
                            <td class="text-center" ng-bind="itemBarang.jumlahDiminta | number"></td>
                            <td class="text-center" ng-bind="itemBarang.jumlah | number"></td>
                            <td class="text-center">
                                <span ng-bind="itemBarang.harga * pesananBarang.kurs | number:2"></span>
                                <span ng-if="itemBarang.harga * pesananBarang.kurs > itemBarang.hargaKatalog" class="glyphicon glyphicon-arrow-up" title="Harga Naik dari IDR {{itemBarang.hargaKatalog | number:2}}"></span>
                                <span ng-if="itemBarang.harga * pesananBarang.kurs == itemBarang.hargaKatalog" class="glyphicon glyphicon-minus" title="Harga Tetap"></span>
                                <span ng-if="itemBarang.harga * pesananBarang.kurs < itemBarang.hargaKatalog" class="glyphicon glyphicon-arrow-down" title="Harga Turun dari IDR {{itemBarang.hargaKatalog | number:2}}"></span>
                            </td>
                            <td class="text-center" ng-bind="itemBarang.harga * pesananBarang.kurs * itemBarang.jumlah | number:2"></td>
                            <td class="text-center" ng-bind="::itemBarang.status"></td>
                            <td class="text-center" ng-if="pesananBarang.editable">
                                <input type="radio" ng-model="itemBarang.status" value="APPROVED" ui-validate="'validateApproval($value)'" />
                                <span class="glyphicon glyphicon-ok"></span>
                            </td>
                            <td class="text-center" ng-if="pesananBarang.editable">
                                <input type="radio" ng-model="itemBarang.status" value="REJECTED" ui-validate="'validateApproval($value)'" />
                                <span class="glyphicon glyphicon-remove"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                <strong>Sub Total</strong>
                            </td>
                            <td></td>
                            <td class="text-center" ng-bind="getTotalCost() | number:2"></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                <strong>Diskon</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="pesananBarang.diskon | number:2"></span>
                                <span>%</span>
                            </td>
                            <td class="text-center" ng-bind="getTotalCost() * pesananBarang.diskon / 100 | number:2"></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                <strong>Grand Total</strong>
                            </td>
                            <td></td>
                            <td class="text-center" ng-bind="getTotalCost() - pesananBarang.nominalDiskon | number:2"></td>
                            <td colspan="3"></td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
        <div ng-if="pesananBarang.editable">
            <button class="btn btn-default btn-sm" type="button" ng-click="$dismiss('update')" ng-if="access.update">
                <span class="glyphicon glyphicon-edit"></span>
                <span>&nbsp;Ubah</span>
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="approve()" ng-if="access.update">
                <span class="glyphicon glyphicon-ok"></span>
                <span>&nbsp;Setujui Semua</span>
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="reject()" ng-if="access.update">
                <span class="glyphicon glyphicon-remove"></span>
                <span>&nbsp;Tolak Semua</span>
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="updateStatus()" ng-if="access.update" ng-disabled="pesananBarangForm.$invalid">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan Pengesahan</span>
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="delete()" ng-if="access.delete">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>