<div class="modal-body">
    <!-- <span ng-repeat="item in pesananBarang.spItemsList">
        <span ng-bind="item|json"></span>
        <br/>
    </span> -->
    <!-- <span ng-bind="kurs|json"></span> -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Buat Pesanan Barang (SP)</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Pesanan Barang (SP)
            <span ng-bind="pesananBarang.nomor"></span>
        </h3>
    </div>
    <br/>
    <form class="row" name="pesananBarangForm">
        <div class="form-group col-xs-6 input-group-sm">
            <label for="kategori">Golongan</label>
            <select class="form-control" id="kategori" name="kategori" ng-model="pesananBarang.kategori" ng-options="kategoriBarang.kode as kategoriBarang.kategori for kategoriBarang in kategoriBarangs | orderBy:'kategori'" ng-disabled="!newForm" required>
                <option value="">-- Pilih Golongan --</option>
            </select>
        </div>
        <div class="form-group col-xs-6 input-group-sm">
            <label for="supplier">Supplier</label>
            <select class="form-control" id="supplier" name="supplier" ng-model="pesananBarang.supplier" ng-options="supplier.nama for supplier in suppliers | filter:{kategori:pesananBarang.kategori} | orderBy: 'nama' track by supplier.nama" ng-disabled="!pesananBarang.kategori"
            required>
                <option value="">-- Pilih Supplier --</option>
            </select>
        </div>
        <div class="form-group col-xs-2 input-group-sm">
            <label for="diskon">Diskon</label>
            <input type="number" class="form-control text-center" id="diskon" name="diskon" ng-model="pesananBarang.diskon" min="0" required />
        </div>
        <div class="form-group col-xs-2 input-group-sm" ng-if="!!kurs">
            <label for="valuta">Valuta</label>
            <select class="form-control" id="valuta" name="valuta" ng-model="pesananBarang.valuta" ng-options="valuta as valuta for (valuta,rate) in kurs" ng-change="getRate()" required>
                <option value="">-- Pilih Valuta --</option>
            </select>
        </div>
        <div class="form-group col-xs-2 input-group-sm" ng-if="!kurs">
            <label for="valuta">Valuta:&nbsp;</label>
            <input type="text" class="form-control text-center" id="valuta" name="valuta" ng-model="pesananBarang.valuta" ng-pattern="/^[A-Z]{3,3}$/" required/>
        </div>
        <div class="form-group col-xs-2 input-group-sm" ng-if="!!kurs">
            <label for="valutaBayar">Valuta Bayar</label>
            <select class="form-control" id="valutaBayar" name="valutaBayar" ng-model="pesananBarang.valutaBayar" ng-options="valuta as valuta for (valuta,rate) in kurs" ng-change="getRate()" required>
                <option value="">-- Pilih Valuta --</option>
            </select>
        </div>
        <div class="form-group col-xs-2 input-group-sm" ng-if="!kurs">
            <label for="valutaBayar">Valuta Bayar:&nbsp;</label>
            <input type="text" class="form-control text-center" id="valutaBayar" name="valutaBayar" ng-model="pesananBarang.valutaBayar" ng-pattern="/^[A-Z]{3,3}$/" required/>
        </div>
        <div class="form-group col-xs-2 input-group-sm" ng-if="!!kurs && !timeoutConversion">
            <label for="kurs">Kurs:&nbsp;</label>
            <span ng-bind="pesananBarang.kurs"></span>
        </div>
        <div class="form-group col-xs-2 input-group-sm" ng-if="!kurs || timeoutConversion">
            <label for="kurs">Kurs:&nbsp;</label>
            <input type="number" class="form-control text-center" id="kurs" name="kurs" min="0" ng-model="pesananBarang.kurs" required />
        </div>
        <div class="form-group col-xs-2 input-group-sm">
            <label for="syaratBayar">Syarat Bayar</label>
            <input type="number" class="form-control text-center" id="syaratBayar" name="syaratBayar" ng-model="pesananBarang.syaratBayar" pattern="\d+" required />
        </div>
        <div class="form-group col-xs-2 input-group-sm">
            <label for="ppn">PPN:&nbsp;</label>
            <input type="checkbox" id="ppn" name="ppn" ng-model="pesananBarang.ppn" />
        </div>
        <div class="form-group col-xs-12 input-group-sm" ng-show="!!pesananBarang.kategori">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-center" colspan="8">Item Barang</th>
                </tr>
                <tr>
                    <th class="text-center">Nomor SPP</th>
                    <th class="text-center">Nama</th>
                    <th class="text-center">Satuan Gudang</th>
                    <th class="text-center">Satuan SP</th>
                    <th class="text-center">Konversi</th>
                    <th class="text-center">Jumlah</th>
                    <th class="text-center">Harga</th>
                    <th class="text-center">Pilihan</th>
                </tr>
                <tr ng-repeat="itemBarang in pesananBarang.spItemsList">
                    <td class="input-group-sm">
                        <input type="text" class="form-control" id="spp" name="spp" placeholder="Masukkan Nomor SPP.." ng-model="itemBarang.spp" typeahead="permintaanBarang.nomor for permintaanBarang in permintaanBarangs | filter:{kategori:pesananBarang.kategori} | filter:{status:'APPROVED'} | filter:{nomor:$viewValue} | limitTo:10 | orderBy:'nomor'"
                        typeahead-editable="false" required/>
                    </td>
                    <td class="input-group-sm">
                        <select class="form-control" ng-model="itemBarang.barang" ng-options="barang as barang.nama for barang in getBarangs(itemBarang.spp) | orderBy:'nama' track by barang.nama" ng-change="getItemBarang($index, itemBarang.spp, itemBarang.barang.kode)" ng-disabled="!itemBarang.spp">
                            <option value="">-- Pilih Barang --</option>
                        </select>
                    </td>
                    <td class="text-center" ng-bind="itemBarang.barang.satuan"></td>
                    <td class="input-group-sm">
                        <select class="form-control" id="satuan" name="satuan" ng-disabled="!itemBarang.barang" ng-model="itemBarang.satuan" ng-change="getKonversiSatuan($index, itemBarang.barang.satuan, itemBarang.satuan)" required>
                            <option value="">-- Pilih Satuan --</option>
                            <option ng-repeat="satuanGudang in satuanGudangArray" ng-selected="satuanGudang == itemBarang.satuan" value="{{satuanGudang}}">{{satuanGudang}}</option>
                        </select>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-center" type="number" name="konversi" ng-model="itemBarang.konversi" min="1" required/>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-center" type="number" name="jumlah" ng-model="itemBarang.jumlah" min="1" max="{{::itemBarang.jumlah}}" required/>
                    </td>
                    <td class="input-group-sm">
                        <input class="form-control text-center" type="number" name="harga" ng-model="itemBarang.harga" min="0" required/>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default btn-sm" ng-click="removeDetail($index)" ng-disabled="pesananBarang.spItemsList.length<=1">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-default btn-sm" ng-click="addDetail()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Tambah Item</span>
            </button>
        </div>
        <div class="col-xs-12" ng-if="pesananBarang.editable">
            <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="pesananBarangForm.$invalid||!pesananBarang.spItemsList.length">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>&nbsp;Simpan</span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="delete(pesananBarang)" ng-if="access.delete&&!newForm">
                <span class="glyphicon glyphicon-trash"></span>
                <span>&nbsp;Hapus</span>
            </button>
        </div>
    </form>
</div>