<div class="modal-body container-fluid">
    <!-- <span ng-bind="penerimaanBarang|json"></span>
    <br/> -->
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div ng-show="newForm">
        <h3>Buat Penerimaan Barang (LPB)</h3>
    </div>
    <div ng-show="!newForm">
        <h3>Ubah Penerimaan Barang (LPB)</h3>
    </div>
    <br/>
    <form name="penerimaanBarangForm">
        <div class="row">
            <div class="form-group col-xs-12" ng-if="!newForm">
                <label for="nomor">Nomor:&nbsp;</label>
                <span ng-bind="penerimaanBarang.nomor"></span>
            </div>
            <div class="form-group col-xs-4 input-group-sm">
                <label for="sp">Nomor SP:&nbsp;</label>
                <input type="text" class="form-control" id="sp" name="sp" placeholder="Masukkan Nomor SP.." ng-model="penerimaanBarang.sp" typeahead="pesananBarang.nomor for pesananBarang in pesananBarangs | filter:{status:'APPROVED'} | filter:{nomor:$viewValue} | limitTo:10 | orderBy:'nomor'" typeahead-editable="false"
                typeahead-on-select="new($item)" required/>
            </div>
            <div class="form-group col-xs-4 input-group-sm">
                <label for="periode">Tanggal Datang:&nbsp;</label>
                <span ng-bind="penerimaanBarang.tanggalDatang | date:'longDate'"></span>
                <span ng-model="penerimaanBarang.tanggalDatang" init-date="penerimaanBarang.tanggalDatang" datepicker-popup="dd MMMM yyyy" is-open="opened.tanggalDatang" max-date="penerimaanBarang.tanggalBuat" startingDay="1" current-text="Sekarang" clear-text="Hapus"
                close-text="Tutup">
                </span>
                <span>
                    <button type="button" class="btn btn-default btn-sm" ng-click="openCalendar($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
            <div class="form-group col-xs-4 input-group-sm">
                <label for="nomorSj">Nomor Surat Jalan</label>
                <input type="text" class="form-control" id="nomorSj" name="nomorSj" placeholder="Masukkan Nomor Surat Jalan.." ng-model="penerimaanBarang.nomorSj" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="supplier.nama">Supplier:&nbsp;</label>
                <span ng-bind="penerimaanBarang.supplier.nama"></span>
            </div>
            <div class="form-group col-xs-4">
                <label for="valuta">Valuta:&nbsp;</label>
                <span ng-bind="penerimaanBarang.valuta"></span>
            </div>
            <div class="form-group col-xs-4">
                <label for="valutaBayar">Valuta Bayar:&nbsp;</label>
                <span ng-bind="penerimaanBarang.valutaBayar"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="kurs">Kurs:&nbsp;</label>
                <span ng-bind="penerimaanBarang.kurs"></span>
            </div>
            <div class="form-group col-xs-4">
                <label for="diskon">Diskon:&nbsp;</label>
                <span ng-bind="penerimaanBarang.diskon"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 input-group-sm">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th class="text-center" colspan=6>Item Barang</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nomor SPP</th>
                        <th class="text-center">Nama</th>
                        <th class="text-center">Satuan</th>
                        <th class="text-center">Jumlah</th>
                        <th class="text-center">Harga</th>
                        <th class="text-center">Pilihan</th>
                    </tr>
                    <tr ng-repeat="itemBarang in penerimaanBarang.lpbItemsList">
                        <td class="text-center" ng-bind="itemBarang.spp"></td>
                        <td class="text-center" ng-bind="itemBarang.barang.nama"></td>
                        <td class="text-center" ng-bind="itemBarang.satuan"></td>
                        <td class="input-group-sm">
                            <input class="form-control text-center" type="number" name="jumlah" ng-model="itemBarang.jumlah" min="1" max="{{::itemBarang.jumlah}}" pattern="\d+" required/>
                        </td>
                        <td class="text-center" ng-bind="itemBarang.harga"></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-sm" ng-click="removeDetail($index)" ng-disabled="penerimaanBarang.lpbItemsList.length<=1">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-if="penerimaanBarang.editable">
                <button type="submit" class="btn btn-default btn-sm" ng-click="newForm ? create() : update()" ng-disabled="penerimaanBarangForm.$invalid||!penerimaanBarang.lpbItemsList.length">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    <span>&nbsp;Simpan</span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="delete(penerimaanBarang)" ng-if="!newForm">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>&nbsp;Hapus</span>
                </button>
            </div>
        </div>
    </form>
</div>
